body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
}

.logo {
  border-radius: 50%;
  float:left;
}

li {
  list-style-type: none;
}


main {
  max-width: 40%;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
