body {
  background-color: rgb(0,0,0);
  background-image:url(http://www.zingerbugimages.com/backgrounds/green_marble_background_seamless.jpg);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
}
